@using Vanp.DAL.Entites

@model IEnumerable<Category>

@helper ShowTree(IEnumerable<Category> categories, int i = 0)
{
    @foreach (var category in categories)
    {
        <li>
            <a class="active" href="/product/cat/@category.Id">@category.CategoryName </a>  
            @if (category.Category1.Any())
            {
                <span class="subDropdown minus"></span>
                <ul class="level0_@category.Id" style="display:block">
                    @ShowTree(category.Category1)
                </ul>
            }
        </li>
    }

}

<ul>
    @ShowTree(Model)
</ul>