@{
    ViewBag.Title = "Danh sách yêu thích";
}
<div class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <span class="caption-subject text-uppercase ">Danh sách yêu thích</span>
        </div>
    </div>
    <div class="portlet-body">
        @Html.Partial("~/Views/Shared/_ProductsPartial.cshtml")
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/apps/obj/product.js"></script>
    <script src="~/Scripts/apps/products.js"></script>
    <script>
        jQuery(document).ready(function () {
            Products.setDataFilter({
                pageSize: 3,
                pageNo: 1,
                orderBy: "dateto",
                asc: false
            });
            Products.setUrlAction("/Customer/Wishlist/GetProducts");
            Products.init();
        });
    </script>
}
