
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="page-title">
    Danh Sách Tài Khoản
    <small>Reset Mật Khẩu, Xóa</small>
</h1>


@section Scripts {
   
}
