
@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
<style>
    .lie {
        color: red;
    }
</style>
<form>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="productname">Tên sản phẩm <span class="lie">*</span></label>
            <input type="text" name="ProductName" class="form-control" id="productname" placeholder="Canon">
        </div>
        <div class="form-group col-md-4">
            <label for="desription">Mô tả <span class="lie">*</span></label>
            <input type="text" name="ProductDescription" class="form-control" id="desription" placeholder="Nhỏ gọn....">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="pricedefault">Giá sản phẩm <span class="lie">*</span></label>
            <input type="text" name="PriceDefault" class="form-control" id="pricedefault" placeholder="2000000">
        </div>
        <div class="form-group col-md-4">
            <label for="price">Giá mua ngay <span class="lie">*</span></label>
            <input type="text" name="Price" class="form-control" id="price" placeholder="3000000">
        </div>
    </div>
    <div class="row">
        <div class="dropdown col-md-4">
            <select class="form-control" name="CategoryId">
                @foreach(var c in ViewBag.listCat)
               <option></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="exampleInputFile">Hình ảnh 1</label>
            <input type="file" id="exampleInputFile">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputFile">Hình ảnh 2</label>
            <input type="file" id="exampleInputFile">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputFile">Hình ảnh 3</label>
            <input type="file" id="exampleInputFile">
        </div>
    </div>
    <div class="form-group">
        <label for="producttext">Mô tả chi tiết:</label>
        <textarea name="ProductText"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
