@{
    ViewBag.Title = "Trang chủ";
}

<div>
    <div id="content">
        <!-- Slider -->
        <div id="thmsoft-slideshow" class="thmsoft-slideshow">
            <div class="">
                <div>
                    <div class="thm_topsection">
                        <div>
                            <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                                <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                                    <ul>
                                        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='~/images/slider-img1.jpg'>
                                            <img src="~/images/slider-img1.jpg" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                            <div class="info">
                                                <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span>New Arrivals</span> </div>
                                                <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Big Sale 20% off</div>
                                                <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="buy-btn">See product</a> </div>
                                            </div>
                                        </li>
                                        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='~/images/slider-img1.jpg'>
                                            <img src="~/images/slider-img2.jpg" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                            <div class="info1">
                                                <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>Wooden Sofa</div>
                                                <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Get 30% Discount</div>
                                                <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="buy-btn">Learn More</a> </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Slider -->
    <!-- Banner Blog -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-container">
                    <div class="banner-inner">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="figure-content"><a> <img alt="Blog" src="~/images/ban-1.jpg"> </a> </div>
                                <div>
                                    <div class="center white">
                                        <h2 class="light h2">Modern</h2>
                                        <p class="h4">Dining Table</p>
                                        <button class="btn-learn">Learn More</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="figure-content"><a> <img alt="Blog" src="~/images/ban-2.jpg"> </a> </div>
                                <div>
                                    <div class="center">
                                        <h2 class="light h2">Beautiful</h2>
                                        <p class="h4">Classic Chair</p>
                                        <button class="btn-learn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-container">
                    <div class="banner-inner">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="figure-content"><a> <img alt="Blog" src="~/images/banner3.jpg"> </a> </div>
                                <div>
                                    <div class="center">
                                        <h2 class="light h2">Creative</h2>
                                        <p class="h4">Wooden Lamp</p>
                                        <button class="btn-learn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="figure-content"> <a><img alt="Blog" src="~/images/banner4.jpg"> </a> </div>
                                <div>
                                    <div class="center">
                                        <h2 class="light h2">Decorative</h2>
                                        <p class="h4">Sofa Collection </p>
                                        <button class="btn-learn">Learn More</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="figure-content"><a> <img alt="Blog" src="~/images/banner5.jpg"> </a> </div>
                                <div>
                                    <div class="center">
                                        <h2 class="light h2">Luxury</h2>
                                        <p class="h4">Storage Stools</p>
                                        <button class="btn-learn">View All</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Banner Blog -->
    <div class="container">
        <div class="row">
            <!-- Popular Products -->
            <div class="col-md-12">
                <div class="bestsell-pro">
                    <div class="slider-items-products">
                        <div class="bestsell-block">
                            <div class="h2 products-section-title">Popular Products</div>
                            <div id="bestsell-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4 products-grid block-content">
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="productborder">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a class="product-image" title="iPhone 6 Plus" href="../product_detail.html"> <img alt="iPhone 6 Plus" src="~/images/products/product10.jpg"> </a>
                                                        <div class="new-label new-top-right">new</div>
                                                        <div class="quickview top-right"> <a class="link-quickview" href="../quick_view.html"> <i class="fa fa-search" aria-hidden="true"></i></a> </div>
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                                <li><a class="link-compare" href="../compare.html"></a> </li>
                                                                <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="product lapen casen" href="../product_detail.html">Wooden Tank</a> </div>
                                                            <div class="item-content">
                                                                <p class="product-manufacturer">casio</p>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">$109.20</span> </span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Item -->
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="productborder">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a class="product-image" title="Sample" href="../product_detail.html"> <img alt="Sample" src="~/images/products/product11.jpg"> </a>
                                                        <div class="quickview top-right"> <a class="link-quickview" href="../quick_view.html"> <i class="fa fa-search" aria-hidden="true"></i></a> </div>
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                                <li><a class="link-compare" href="../compare.html"></a> </li>
                                                                <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="product lapen casen" href="../product_detail.html">Kafano Table</a> </div>
                                                            <div class="item-content">
                                                                <p class="product-manufacturer">casio</p>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">$115.20</span> </span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->
                                    <!-- Item -->
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="productborder">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a class="product-image" title="Sample" href="../product_detail.html"> <img alt="Sample" src="~/images/products/product12.jpg"> </a>
                                                        <div class="quickview top-right"> <a class="link-quickview" href="../quick_view.html"><i class="fa fa-search" aria-hidden="true"></i></a> </div>
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                                <li><a class="link-compare" href="../compare.html"></a> </li>
                                                                <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="product lapen casen" href="../product_detail.html">Club Chair</a> </div>
                                                            <div class="item-content">
                                                                <p class="product-manufacturer">casio</p>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">$269.20</span> </span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->

                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="productborder">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a class="product-image" title="Sample" href="../product_detail.html"> <img alt="Sample" src="~/images/products/product13.jpg"> </a>
                                                        <div class="new-label new-top-right">new</div>
                                                        <div class="quickview top-right"> <a class="link-quickview" href="../quick_view.html"><i class="fa fa-search" aria-hidden="true"></i></a> </div>
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                                <li><a class="link-compare" href="../compare.html"></a> </li>
                                                                <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="product lapen casen" href="../product_detail.html">Kismos Chair</a> </div>
                                                            <div class="item-content">
                                                                <p class="product-manufacturer">casio</p>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">$169.20</span> </span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Item -->
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="productborder">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a class="product-image" title="Sample" href="../product_detail.html"> <img alt="Sample" src="~/images/products/product15.jpg"> </a>
                                                        <div class="quickview top-right"> <a class="link-quickview" href="../quick_view.html"><i class="fa fa-search" aria-hidden="true"></i></a> </div>
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                                <li><a class="link-compare" href="../compare.html"></a> </li>
                                                                <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="product lapen casen" href="../product_detail.html">Ladder Back Chair</a> </div>
                                                            <div class="item-content">
                                                                <p class="product-manufacturer">casio</p>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">$102.20</span> </span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="productborder">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a class="product-image" title="Sample product" href="../product_detail.html"> <img alt="Sample product" src="~/images/products/product16.jpg"> </a>
                                                        <div class="quickview top-right"> <a class="link-quickview" href="../quick_view.html"><i class="fa fa-search" aria-hidden="true"></i></a> </div>
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                                <li><a class="link-compare" href="../compare.html"></a> </li>
                                                                <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="product lapen casen" href="../product_detail.html">Side Chair</a> </div>
                                                            <div class="item-content">
                                                                <p class="product-manufacturer">casio</p>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">$199.20</span> </span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Item -->
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="productborder">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a class="product-image" title="Sample" href="../product_detail.html"> <img alt="Sample" src="~/images/products/product10.jpg"> </a>
                                                        <div class="quickview top-right"> <a class="link-quickview" href="../quick_view.html"><i class="fa fa-search" aria-hidden="true"></i></a> </div>
                                                        <div class="box-hover">
                                                            <ul class="add-to-links">
                                                                <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                                <li><a class="link-compare" href="../compare.html"></a> </li>
                                                                <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="product lapen casen" href="../product_detail.html">Wooden Tank</a> </div>
                                                            <div class="item-content">
                                                                <p class="product-manufacturer">casio</p>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">$299.20</span> </span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Popular Products end-->
    <!--home banner-->
    <div class="bottom-banner-section">
        <div class="container"> <img alt="banner" src="~/images/bottom-banner.jpg"> </div>
    </div>
</div>
<!--home banner end-->
<!--Todays deal-->
<div class="container">
    <div class="featured-pro">
        <div class="slider-items-products">
            <div class="featured-block">
                <p class="h2 products-section-title"> <span>Today Deals</span> </p>
                <div id="featured-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid block-content">
                        <div class="item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="item-inner">
                                <div class="item-img col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Nartina Round" href="../product_detail.html"> <img alt="Sample" src="~/images/products/product3.jpg"> </a>
                                        <div class="new-label new-top-right">new</div>
                                    </div>
                                </div>
                                <div class="item-info col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Sample" href="../product_detail.html"> Nartina Round </a> </div>
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                                <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-content">
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                                <p class="product-desc"> Printed chiffon knee length dress with tank straps. Deep v-neckline.</p>
                                            </div>
                                            <div class="action">
                                                <!-- <button class="button btn-cart" type="button" title="" data-original-title="Add to Cart"><span>Add to Cart</span> </button>-->
                                            </div>
                                            <div class="box-hover">
                                                <ul class="add-to-links">
                                                    <li><a class="link-quickview" href="../quick_view.html"></a> </li>
                                                    <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                    <li><a class="link-compare" href="../compare.html"></a> </li>
                                                    <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                </ul>
                                            </div>
                                            <div class="box-timer">
                                                <div class="countbox_1 timer-grid"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="item-inner">
                                <div class="item-img col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-img-info"> <a class="product-image" title="Ladder Back Chair" href="../product_detail.html"> <img alt="sample" src="~/images/products/product2.jpg"> </a> </div>
                                </div>
                                <div class="item-info col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="sample" href="../product_detail.html"> Ladder Back Chair </a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                                <p class="product-desc"> Printed chiffon knee length dress with tank straps. Deep v-neckline.</p>
                                            </div>
                                            <div class="action">
                                                <!--  <button class="button btn-cart" type="button" title="" data-original-title="Add to Cart"><span>Add to Cart</span> </button>-->
                                            </div>
                                            <div class="box-hover">
                                                <ul class="add-to-links">
                                                    <li><a class="link-quickview" href="../quick_view.html"></a> </li>
                                                    <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                    <li><a class="link-compare" href="../compare.html"></a> </li>
                                                    <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                </ul>
                                            </div>
                                            <div class="box-timer">
                                                <div class="countbox_1 timer-grid"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <div class="item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="item-inner">
                                <div class="item-img col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-img-info"> <a class="product-image" title="Wing Chair" href="../product_detail.html"> <img alt="sample" src="~/images/products/product9.jpg"> </a> </div>
                                </div>
                                <div class="item-info col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="sample" href="../product_detail.html"> Wing Chair </a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                                <p class="product-desc"> Printed chiffon knee length dress with tank straps. Deep v-neckline.</p>
                                            </div>
                                            <div class="action">
                                                <!--  <button class="button btn-cart" type="button" title="" data-original-title="Add to Cart"><span>Add to Cart</span> </button>-->
                                            </div>
                                            <div class="box-hover">
                                                <ul class="add-to-links">
                                                    <li><a class="link-quickview" href="../quick_view.html"></a> </li>
                                                    <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                    <li><a class="link-compare" href="../compare.html"></a> </li>
                                                    <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                </ul>
                                            </div>
                                            <div class="box-timer">
                                                <div class="countbox_1 timer-grid"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="item-inner">
                                <div class="item-img col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-img-info"> <a class="product-image" title="Klismos Chair" href="../product_detail.html"> <img alt="Epson L360 Printer" src="~/images/products/product5.jpg"> </a> </div>
                                </div>
                                <div class="item-info col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Epson L360 Printer" href="../product_detail.html"> Klismos Chair </a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$325.00</span> </span> </div>
                                                <p class="product-desc"> Printed chiffon knee length dress with tank straps. Deep v-neckline.</p>
                                            </div>
                                            <div class="action">
                                                <!--   <button class="button btn-cart" type="button" title="" data-original-title="Add to Cart"><span>Add to Cart</span> </button>-->
                                            </div>
                                            <div class="box-hover">
                                                <ul class="add-to-links">
                                                    <li><a class="link-quickview" href="../quick_view.html"></a> </li>
                                                    <li><a class="link-wishlist" href="../wishlist.html"></a> </li>
                                                    <li><a class="link-compare" href="../compare.html"></a> </li>
                                                    <li><a class="add-to-cart" href="../shopping_cart.html"></a> </li>
                                                </ul>
                                            </div>
                                            <div class="box-timer">
                                                <div class="countbox_1 timer-grid"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Todays deal end-->
<!--3 Tabs-->
<div class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="new-product">
                    <div class="h2 products-section-title">New Products</div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="item-img-info"> <a class="product_image image-wrapper" href="../product_detail.html"> <img class="front_image" alt="Pro Image" src="~/images/products/product1.jpg" /></a> </div>
                            </div>
                            <div class="item-info col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="sample" href="../product_detail.html"> Side Chair </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                        </div>
                                        <div class="action"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="item-img-info"> <a class="product_image image-wrapper" href="../product_detail.html"> <img class="front_image" alt="Pro Image" src="~/images/products/product2.jpg"></a> </div>
                            </div>
                            <div class="item-info col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="sample" href="../product_detail.html"> Kismos Chair </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                        </div>
                                        <div class="action"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="item-img-info"> <a class="product_image image-wrapper" href="../product_detail.html"> <img class="front_image" alt="Pro Image" src="~/images/products/product3.jpg"></a> </div>
                            </div>
                            <div class="item-info col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="sample" href="../product_detail.html"> Wing Chair </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                        </div>
                                        <div class="action"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="new-product">
                    <div class="h2 products-section-title">BEST SELLER</div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="item-img-info"> <a class="product_image image-wrapper" href="../product_detail.html"> <img class="back_image" alt="Pro Image" src="~/images/products/product4.jpg"></a> </div>
                            </div>
                            <div class="item-info col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="sample" href="../product_detail.html"> Kafano Table </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                        </div>
                                        <div class="action"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="item-img-info"> <a class="product_image image-wrapper" href="../product_detail.html"> <img class="front_image" alt="Pro Image" src="~/images/products/product5.jpg"></a> </div>
                            </div>
                            <div class="item-info col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="sample" href="../product_detail.html"> Side Chair </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                        </div>
                                        <div class="action"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="item-img-info"> <a class="product_image image-wrapper" href="../product_detail.html"> <img class="back_image" alt="Pro Image" src="~/images/products/product6.jpg"></a> </div>
                            </div>
                            <div class="item-info col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="sample" href="../product_detail.html"> Study Table </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                        </div>
                                        <div class="action"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="new-product">
                    <div class="h2 products-section-title">Top Rate</div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="item-img-info"> <a class="product_image image-wrapper" href="../product_detail.html"> <img class="front_image" alt="Pro Image" src="~/images/products/product7.jpg"></a> </div>
                            </div>
                            <div class="item-info col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="sample" href="../product_detail.html"> Club Chair </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                        </div>
                                        <div class="action"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="item-img-info"> <a class="product_image image-wrapper" href="../product_detail.html"> <img class="front_image" alt="Pro Image" src="~/images/products/product8.jpg"></a> </div>
                            </div>
                            <div class="item-info col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="sample" href="../product_detail.html"> Kismos Chair </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                        </div>
                                        <div class="action"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="item-img-info"> <a class="product_image image-wrapper" href="../product_detail.html"> <img class="front_image" alt="Pro Image" src="~/images/products/product9.jpg"></a> </div>
                            </div>
                            <div class="item-info col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="sample" href="../product_detail.html"> Natrina Round </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                        </div>
                                        <div class="action"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--3 Tabs end-->
<!-- Latest News-->
<div class="container">
    <div class="Latest-news">
        <div class="row">
            <div class="slider-items-products">
                <div class="h2 products-section-title">Latest News</div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-outer-container">
                                <div class="blog-inner1">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-box">
                                            <div class="Blog_info1">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 entry-thumb"> <a href="../blog_single_post.html"> <img alt="Blog" src="~/images/blog-img1.jpg"> </a> </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ttblog-content">
                                                    <span class="ttblog_date"> <span class="ttday_date">27</span> <span class="ttday_month">Jan</span> <span class="ttday_year">2017</span> </span>
                                                    <h4 class="ttblog-title"><a href="#">Share the Love for...</a></h4>
                                                    <div class="ttblog-desc">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                                                    </div>
                                                    <div class="ttviews"><a href="#"><i class="fa fa-eye"></i> views (47)</a></div>
                                                    <div class="ttcomment"><a href="#"><i class="fa fa-comments"></i> Comments</a></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 blog-box">
                                            <div class="Blog_info1">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ttblog-content">
                                                    <span class="ttblog_date"> <span class="ttday_date">16</span> <span class="ttday_month">Mar</span> <span class="ttday_year">2017</span> </span>
                                                    <h4 class="ttblog-title"><a href="#">Share the Love for...</a></h4>
                                                    <div class="ttblog-desc">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                                                    </div>
                                                    <div class="ttviews"><a href="#"><i class="fa fa-eye"></i> views (47)</a></div>
                                                    <div class="ttcomment"><a href="#"><i class="fa fa-comments"></i> Comments</a></div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 entry-thumb1"> <a href="../blog_single_post.html"> <img alt="Blog" src="~/images/blog-img2.jpg"> </a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Latest News End-->
<!-- Brand Logo -->
<div class="Faq-bar">
    <div class="container">
        <div class="row">
            <div class="h2 products-section-title">FAQ and Brands</div>
            <div id="testimonials" class="product-flexslider hidden-buttons col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="slider-items slider-width-col1 owl-carousel owl-theme">
                    <div class="brand">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 brand-logo-size">
                                <div class="brand1"> <img alt="logo" src="~/images/b-logo1.png"> </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 brand-logo-size">
                                <div class="brand1"> <img alt="logo" src="~/images/b-logo4.png"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 brand-logo-size">
                                <div class="brand1"> <img alt="logo" src="~/images/b-logo5.png"> </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 brand-logo-size">
                                <div class="brand1"> <img alt="logo" src="~/images/b-logo6.png"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="brand">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 brand-logo-size">
                                <div class="brand1"> <img alt="logo" src="~/images/b-logo1.png"> </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 brand-logo-size">
                                <div class="brand1"> <img alt="logo" src="~/images/b-logo4.png"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 brand-logo-size">
                                <div class="brand1"> <img alt="logo" src="~/images/b-logo5.png"> </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 brand-logo-size">
                                <div class="brand1"> <img alt="logo" src="~/images/b-logo6.png"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <!-- Item -->

                </div>
            </div>
            <div class="faq col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div id="faq-brand" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#faq-collapse1" data-toggle="collapse" data-parent="#faq-brand"><em class="icon icon-anchor">&nbsp;</em>Customer service</a></h4>
                        </div>
                        <div id="faq-collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                100% Table-less design. 100% HTML/CSS/DIV compliance.
                                <ul>
                                    <li>Well-commented CSS and PHP code</li>
                                    <li>Cross Browser Support (IE 9+, Firefox, Chrome)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" href="#faq-collapse2" data-toggle="collapse" data-parent="#faq-brand"><em class="fa fa-bullhorn" aria-hidden="true">&nbsp;</em>Full Responsive</a></h4>
                        </div>
                        <div id="faq-collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                100% Table-less design. 100% HTML/CSS/DIV compliance.
                                <ul>
                                    <li>Well-commented CSS and PHP code</li>
                                    <li>Cross Browser Support (IE 9+, Firefox, Chrome)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" href="#faq-collapse3" data-toggle="collapse" data-parent="#faq-brand"><em class="icon icon-anchor">&nbsp;</em>Clean Code</a></h4>
                        </div>
                        <div id="faq-collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                100% Table-less design. 100% HTML/CSS/DIV compliance.
                                <ul>
                                    <li>Well-commented CSS and PHP code</li>
                                    <li>Cross Browser Support (IE 9+, Firefox, Chrome)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" href="#faq-collapse4" data-toggle="collapse" data-parent="#faq-brand"><em class="icon icon-refresh">&nbsp;</em>Refund After 3 Days</a></h4>
                        </div>
                        <div id="faq-collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                100% Table-less design. 100% HTML/CSS/DIV compliance.
                                <ul>
                                    <li>Well-commented CSS and PHP code</li>
                                    <li>Cross Browser Support (IE 9+, Firefox, Chrome)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>