@using BotDetect.Web.Mvc
@using Vanp.Web.Code
@{
    ViewBag.Title = "Đăng bán sản phẩm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/boostrap-file-input/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <style type="text/css">
        .title-text {
            color: blue;
        }
    </style>
}

<h1 class="text-center">Đăng bán</h1>
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-md-12 wow bounceInUp animated">
                <div class="col-main">
                    <div class="static-contain">
                        <form class="comment-form register-form" action="@Url.Action("Add", "Product")" method="post"enctype="multipart/form-data">
                            <div class="alert alert-danger" style="display:none">
                                <button class="close" data-close="alert"></button>
                                <span></span>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="title-text">Tên sản phẩm <span>*</span></p>
                                    <p class="comments-form-wrapper">
                                        <input name="productname" placeholder="Điền tên sản phẩm" value="" size="30" type="text">
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="title-text">Mã sản phẩm <span>*</span></p>
                                    <p class="comment-form-email">
                                        <input id="txtCode" name="productcode" placeholder="Điền mã sản phẩm" value="" size="30" type="text">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="title-text">Giá sản phẩm<span>*</span></p>
                                    <p class="comment-form-email">
                                        <input class="touchspin" name="price" placeholder="Điền giá mà bạn muốn bán?" value="" size="50" type="text">
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="title-text">Giá bán ngay<span>*</span></p>
                                    <p class="comment-form-email">
                                        <input class="touchspin" name="pricedefault" placeholder="Điền giá nếu bạn muốn bán ngay?" value="" size="50" type="text">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="title-text">Danh mục<span>*</span></p>
                                    <p class="comment-form-email">
                                        @Html.DropDownList("categoryid", Html.GetNameCat(), new { @class = "col-md-4 selectpicker", @name= "categoryid" })
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="title-text">Mô tả ngắn <span>*</span></p>
                                    <p class="comments-form-wrapper">
                                        <input id="txtDes" name="productdescrption" value="" placeholder="Điền mô tả ngắn gọn" size="30" type="text">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="title-text">Hình ảnh sản phẩm 1<span>*</span></p>
                                    <p class="comments-form-wrapper">
                                        <input class="upload" name="productimage" size="100" type="file" accept="image/*">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="title-text">Hình ảnh sản phẩm 2<span>*</span></p>
                                    <p class="comments-form-wrapper">
                                        <input class="upload" size="100" type="file" accept="image/*">
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="title-text">Hình ảnh sản phẩm 3<span>*</span></p>
                                    <p class="comments-form-wrapper">
                                        <input class="upload" size="100" type="file" accept="image/*">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="title-text">Mô tả chi tiết <span>*</span></p>
                                    <p class="comment-form-email">
                                        <textarea id="txttext" name="producttext" type="text"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="form-submit text-center">
                                    <input name="btnSubmit" class="btn btn-secondary mt-ladda-btn" value="Đăng bán" type="submit">
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/boostrap-file-input/js/fileinput.min.js"></script>
    <script src="~/Content/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Content/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Content/tinymce/tinymce.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.upload').fileinput({
                showUpload: false,
            });
        });
        $("input[class='touchspin']").TouchSpin({
            verticalbuttons: true,
            max: 1000000000,
            step: 100000
        });
        $('.selectpicker').selectpicker({
            style: 'btn-info',
        });
        tinymce.init({
            selector: 'textarea',
            height: 250,
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: [
              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
              '//www.tinymce.com/css/codepen.min.css'],
            encoding:"xml",
        });
    </script>
}