
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Container -->
<div class="main-container col2-left-layout bounceInUp animated">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <!-- Breadcrumbs -->
                <div class="breadcrumbs">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li class="home"> <a href="assets/index.html" title="Go to Home Page">Home</a> <span>/</span> </li>
                                    <li class="category1599"> <a href="left_bar.html" title="">Living Room</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumbs End -->
                <div class="">
                    <div class="row">
                        <div class="col-sm-9 col-lg-9 col-sm-push-3">
                            <div class="category-description std">
                                <div class="slider-items-products">
                                    <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                                        <div class="slider-items slider-width-col1 owl-carousel owl-theme">

                                            <!-- Item -->
                                            <div class="item"> <a href="#"><img alt="" src="~/images/cat-banner-1.jpg"></a> </div>
                                            <!-- End Item -->
                                            <!-- Item -->
                                            <div class="item">
                                                <a href="#"><img alt="" src="~/images/cat-banner-2.jpg"></a>

                                                <!-- End Item -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <article class="col-main">
                                <div class="page-title">
                                    <h2>Living Room</h2>
                                </div>
                                <div class="toolbar">
                                    <div class="sorter">
                                        <div class="view-mode"> <span title="Grid" class="button button-active button-grid">&nbsp;</span><a href="assets/list.html" title="List" class="button-list">&nbsp;</a> </div>
                                    </div>
                                    <div id="sort-by">
                                        <label class="left">Sort By: </label>
                                        <ul>
                                            <li>
                                                <a><span class="sort-by-name" style="margin-right:10px" data-sort-by-name="dateto">Thời gian kết thúc</span> <span class="right-arrow"></span></a>
                                                <ul class="sort-by-list">
                                                    <li class="sort-by-item"><a data-sort-by-name="pricecurrent">Giá</a></li>
                                                    <li class="sort-by-item"><a data-sort-by-name="dateto">Thời gian kết thúc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <a class="button-asc left" data-asc="false" title="Set Descending Direction"><span class="bottom_arrow"></span></a>
                                    </div>

                                </div>
                                <div class="category-products">
                                    <ol class="product-template" style="display:none">
                                        <li class="item">
                                            <div class="product-image"> <a href="product_detail.html" title="product lapen casen"> <img class="small-image" src="~/images/products/product1.jpg" alt="product lapen casen"> </a> </div>
                                            <div class="product-shop">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h2 class="product-name"><a href="product_detail.html" title="HTC Rhyme Sense">Natrina Round</a></h2>
                                                        <div class="desc std">
                                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..... </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 text-center">
                                                        <span class="price-current">1.000.000.000</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row text-center">
                                                            <div class="col-md-6">
                                                                <span class="price">100.000.000</span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <span class="bid-count">3</span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <span class="end-date"> 5 ngày</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row product-bottom">
                                                    <div class="col-md-12">
                                                        <div class="ratings">
                                                            <p class="rating-links"><b>Người đăng</b> : <a> <span class="created-by">abcxs</span></a> <span class="separator">|</span> <b>Người giữ giá : </b><a><span class="bid-current-by">ạhk</span></a> </p>
                                                        </div>
                                                        <div class="categories">
                                                            <div class="category-links">Danh mục : <a>abcxs</a> <span class="separator">></span> <a>aa</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <button type="submit" title="Submit" class="button button-wishlist"><span>Whishlist</span></button>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                    <ol class="products-list" id="products-list">
                                        <li class="item">
                                            <div class="product-image"></div>
                                            <div class="product-shop ">
                                                <div class="row">
                                                    <div class="col-md-6 text-center"></div>
                                                    <div class="col-md-2 text-center">Giá hiện tại</div>
                                                    <div class="col-md-4 text-center">
                                                        <div class="row">
                                                            <div class="col-md-6">Giá mua ngay</div>
                                                            <div class="col-md-2">Lượt đấu giá</div>
                                                            <div class="col-md-4">Thời gian còn lại</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item first">
                                            <div class="product-image"> <a href="product_detail.html" title="product lapen casen"> <img class="small-image" src="~/images/products/product1.jpg" alt="product lapen casen"> </a> </div>
                                            <div class="product-shop">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h2 class="product-name"><a href="product_detail.html" title="HTC Rhyme Sense">Natrina Round</a></h2>
                                                        <div class="desc std">
                                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..... </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 text-center">
                                                        <span class="price-current">1.000.000.000</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row text-center">
                                                            <div class="col-md-6">
                                                                <span class="price">100.000.000</span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <span class="product-bid-count">3</span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <span class="product-end-date"> 5 ngày</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row product-bottom">
                                                    <div class="col-md-12">
                                                        <div class="ratings">
                                                            <p class="rating-links">Người đăng : <a> <span class="created-by-name">abcxs</span></a> <span class="separator">|</span> <b>Người giữ giá : </b><a><span>ạhk</span></a> </p>
                                                        </div>
                                                        <div class="categories">
                                                            <div class="category-links">Danh mục : <a>abcxs</a> <span class="separator">></span> <a>aa</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <button type="submit" title="Submit" class="button button-wishlist"><span>Whishlist</span></button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item even">
                                            <div class="product-image"> <a href="product_detail.html" title="product lapen casen"> <img class="small-image" src="~/images/products/product1.jpg" alt="product lapen casen"> </a> </div>
                                            <div class="product-shop">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h2 class="product-name"><a href="product_detail.html" title="HTC Rhyme Sense">Natrina Round</a></h2>

                                                    </div>
                                                    <div class="col-md-2 text-center">
                                                        <span class="price-current">1.000.000.000</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row text-center">
                                                            <div class="col-md-6">
                                                                <span class="price">100.000.000</span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <span class="product-bid-count">3</span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <span class="product-end-date"> 5 ngày</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row product-bottom">
                                                    <div class="col-md-12">
                                                        <div class="ratings">
                                                            <p class="rating-links"> <a><b>Người đăng</b> : <span>abcxs</span></a> <span class="separator">|</span> <a><b>Người giữ giá: </b><span>ạhk</span></a> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <button type="submit" title="Submit" class="button button-wishlist"><span>Whishlist</span></button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item odd">
                                            <div class="product-image"> <a href="product_detail.html" title="product lapen casen"> <img class="small-image" src="~/images/products/product1.jpg" alt="product lapen casen"> </a> </div>
                                            <div class="product-shop">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h2 class="product-name"><a href="product_detail.html" title="HTC Rhyme Sense">Natrina Round</a></h2>

                                                    </div>
                                                    <div class="col-md-2 text-center">
                                                        <span class="price-current">1.000.000.000</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row text-center">
                                                            <div class="col-md-6">
                                                                <span class="price">100.000.000</span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <span class="product-bid-count">3</span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <span class="product-end-date"> 5 ngày</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row product-bottom">
                                                    <div class="col-md-12">
                                                        <div class="ratings">
                                                            <p class="rating-links"> <a><b>Người đăng</b> : <span>abcxs</span></a> <span class="separator">|</span> <a><b>Người giữ giá: </b><span>ạhk</span></a> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <button type="submit" title="Submit" class="button button-wishlist"><span>Whishlist</span></button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item last even">
                                            <div class="product-image"> <a href="product_detail.html" title="product lapen casen"> <img class="small-image" src="products-images/product10.jpg" alt="product lapen casen"> </a> </div>
                                            <div class="product-shop">
                                                <h2 class="product-name"><a href="product_detail.html" title="product lapen casen">Wooden Tank</a></h2>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Reviews</a> <span class="separator">|</span> <a href="##review-form">Add Your Review</a> </p>
                                                </div>
                                                <div class="desc std">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged... <a class="link-learn" title="" href="product_detail.html">Learn More</a> </p>
                                                </div>
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$239.99</span> </span> </div>
                                                <div class="actions">
                                                    <button type="submit" title="Submit" class="button button-wishlist"><span>Whishlist</span></button>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                    <div class="text-center">
                                        <button type="button" class="button btn btn-primary btn-load-more margin-15">Xem thêm</button>
                                    </div>
                                </div>
                            </article>
                            <!--	///*///======    End article  ========= //*/// -->
                        </div>
                        <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                            <aside class="col-left sidebar">
                                <div class="side-nav-categories">
                                    <div class="block-title">Categories</div>
                                    <!--block-title-->
                                    <!-- BEGIN BOX-CATEGORY -->
                                    <div class="box-content box-category">
                                        @Html.Action("GetList", "Category")
                                    </div>
                                    <!--box-content box-category-->
                                </div>
                                <div class="side-banner">
                                    <img src="~/images/sidebanner.jpg">
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Container End -->
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/apps/products.js"></script>
}
