
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Container -->
<div class="main-container col2-left-layout bounceInUp animated">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <!-- Breadcrumbs -->
                <div class="breadcrumbs">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li class="home"> <a href="assets/index.html" title="Go to Home Page">Home</a> <span>/</span> </li>
                                    <li class="category1599"> <a href="left_bar.html" title="">Living Room</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumbs End -->
                <div class="">
                    <div class="row">
                        <div class="col-sm-9 col-lg-9 col-sm-push-3">
                            <div class="category-description std">
                                <div class="slider-items-products">
                                    <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                                        <div class="slider-items slider-width-col1 owl-carousel owl-theme">

                                            <!-- Item -->
                                            <div class="item"> <a href="#"><img alt="" src="~/images/cat-banner-1.jpg"></a> </div>
                                            <!-- End Item -->
                                            <!-- Item -->
                                            <div class="item">
                                                <a href="#"><img alt="" src="~/images/cat-banner-2.jpg"></a>

                                                <!-- End Item -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <article class="col-main">
                                <div class="page-title">
                                    <h2>Living Room</h2>
                                </div>
                                <div class="toolbar">
                                    <div class="sorter">
                                        <div class="view-mode"> <span title="Grid" class="button button-active button-grid">&nbsp;</span><a href="assets/list.html" title="List" class="button-list">&nbsp;</a> </div>
                                    </div>
                                    <div id="sort-by">
                                        <label class="left">Sort By: </label>
                                        <ul>
                                            <li>
                                                <a href="#">Position<span class="right-arrow"></span></a>
                                                <ul>
                                                    <li><a href="#">Name</a></li>
                                                    <li><a href="#">Price</a></li>
                                                    <li><a href="#">Position</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                                    </div>
                     
                                </div>
                                <div class="category-products">

                                </div>
                            </article>
                            <!--	///*///======    End article  ========= //*/// -->
                        </div>
                        <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                            <aside class="col-left sidebar">
                                <div class="side-nav-categories">
                                    <div class="block-title">Categories</div>
                                    <!--block-title-->
                                    <!-- BEGIN BOX-CATEGORY -->
                                    <div class="box-content box-category">
                                       @Html.Action("GetList", "Category")
                                    </div>
                                    <!--box-content box-category-->
                                </div>
                                <div class="side-banner">
                                    <img src="images/sidebanner.jpg">
                                </div>
                                <div class="block block-layered-nav">
                                    <div class="block-title"> Filter By</div>
                                    <div class="block-content">
                                        <p class="btn-tertiary"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Clear all</p>
                                        <dl id="narrow-by-list">
                                            <dt class="odd">Categories</dt>
                                            <dd class="odd">
                                                <ol>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#">Sofas</a> (6)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#"> Chairs</a> (5)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#"> Tables</a> (7)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#">Racks</a> (5)
                                                    </li>
                                                </ol>
                                            </dd>
                                            <dt class="odd">Price</dt>
                                            <dd class="odd">
                                                <ol>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span> <a href="#"><span class="price">$4.00</span> - <span class="price">$5.00</span></a> (1)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#"><span class="price">$16.00</span> - <span class="price">$20.00</span></a> (2)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span> <a href="#"><span class="price">$25.00</span> - <span class="price">$37.00</span></a> (4)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span> <a href="#"><span class="price">$33.00</span> - <span class="price">$125.00</span></a> (9)
                                                    </li>
                                                </ol>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Container End -->
    </div>
</div>