
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Container -->
<div class="main-container col2-left-layout bounceInUp animated">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <!-- Breadcrumbs -->
                <div class="breadcrumbs">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li class="home"> <a href="assets/index.html" title="Go to Home Page">Home</a> <span>/</span> </li>
                                    <li class="category1599"> <a href="left_bar.html" title="">Living Room</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumbs End -->
                <div class="">
                    <div class="row">
                        <div class="col-sm-9 col-lg-9 col-sm-push-3">
                            <div class="category-description std">
                                <div class="slider-items-products">
                                    <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                                        <div class="slider-items slider-width-col1 owl-carousel owl-theme">

                                            <!-- Item -->
                                            <div class="item"> <a href="#"><img alt="" src="~/images/cat-banner-1.jpg"></a> </div>
                                            <!-- End Item -->
                                            <!-- Item -->
                                            <div class="item">
                                                <a href="#"><img alt="" src="~/images/cat-banner-2.jpg"></a>

                                                <!-- End Item -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <article class="col-main">
                                <div class="page-title">
                                    <h2>Living Room</h2>
                                </div>
                                <div class="toolbar">
                                    <div class="sorter">
                                        <div class="view-mode"> <span title="Grid" class="button button-active button-grid">&nbsp;</span><a href="assets/list.html" title="List" class="button-list">&nbsp;</a> </div>
                                    </div>
                                    <div id="sort-by">
                                        <label class="left">Sort By: </label>
                                        <ul>
                                            <li>
                                                <a href="#">Position<span class="right-arrow"></span></a>
                                                <ul>
                                                    <li><a href="#">Name</a></li>
                                                    <li><a href="#">Price</a></li>
                                                    <li><a href="#">Position</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                                    </div>
                     
                                </div>
                                <div class="category-products">

                                </div>
                            </article>
                            <!--	///*///======    End article  ========= //*/// -->
                        </div>
                        <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                            <aside class="col-left sidebar">
                                <div class="side-nav-categories">
                                    <div class="block-title">Categories</div>
                                    <!--block-title-->
                                    <!-- BEGIN BOX-CATEGORY -->
                                    <div class="box-content box-category">
                                        <ul>
                                            <li>
                                                <a class="active" href="left_bar.html">Living Room</a> <span class="subDropdown minus"></span>
                                                <ul class="level0_415" style="display:block">
                                                    <li>
                                                        <a href="left_bar.html"> Racks </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Display Units </a> </li>
                                                            <li> <a href="left_bar.html"> Shoe Racks </a> </li>
                                                            <li> <a href="left_bar.html"> Magazine Racks </a> </li>
                                                            <li> <a href="left_bar.html"> Trunk &amp; Boxes </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Sofas </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Sofa Beds </a> </li>
                                                            <li> <a href="left_bar.html"> Sofa Suites </a> </li>
                                                            <li> <a href="left_bar.html"> Corner Sofas </a> </li>
                                                            <li> <a href="left_bar.html"> Leather Sofas </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Chairs </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Recliner </a> </li>
                                                            <li> <a href="left_bar.html"> Arm Chairs </a> </li>
                                                            <li> <a href="left_bar.html"> Folding Chairs </a> </li>
                                                            <li> <a href="left_bar.html"> Metal Chairs </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Tables </a><span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Side Tables </a> </li>
                                                            <li> <a href="left_bar.html"> Console Tables </a> </li>
                                                            <li> <a href="left_bar.html"> Set of Tables </a> </li>
                                                            <li> <a href="left_bar.html"> Coffee Tables </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Bean Bag </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Round </a> </li>
                                                            <li> <a href="left_bar.html"> Square </a> </li>
                                                            <li> <a href="left_bar.html"> Novelty </a> </li>
                                                            <li> <a href="left_bar.html"> Elongated </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Stools </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Folding </a> </li>
                                                            <li> <a href="left_bar.html"> Iron </a> </li>
                                                            <li> <a href="left_bar.html"> Designer </a> </li>
                                                            <li> <a href="left_bar.html"> Wood </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                        <!--level1-->
                                                    </li>
                                                    <li>
                                                        <a href="left_bar.html"> Textiles </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Curtain Rods </a> </li>
                                                            <li> <a href="left_bar.html"> Cushions </a> </li>
                                                            <li> <a href="left_bar.html"> Fabrics </a> </li>
                                                            <li> <a href="left_bar.html"> Benches </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                        <!--level1-->
                                                    </li>
                                                    <li>
                                                        <a href="left_bar.html"> Storage </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Buffets </a> </li>
                                                            <li> <a href="left_bar.html"> Cabinets </a> </li>
                                                            <li> <a href="left_bar.html"> Sideboards </a> </li>
                                                            <li> <a href="left_bar.html"> Bookcases </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                </ul>
                                                <!--level0-->
                                            </li>
                                            <!--level 0-->
                                            <li>
                                                <a href="left_bar.html">Dinning Room</a> <span class="subDropdown plus"></span>
                                                <ul class="level0_455" style="display:none">
                                                    <li>
                                                        <a href="left_bar.html"> Dinning Sets </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:block">
                                                            <li> <a href="left_bar.html"> Eight Seater </a> </li>
                                                            <li> <a href="left_bar.html"> Four Seater </a> </li>
                                                            <li> <a href="left_bar.html"> Six Seater </a> </li>
                                                            <li> <a href="left_bar.html"> Two Seater </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Dinning Tables </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:block">
                                                            <li> <a href="left_bar.html"> Colonial </a> </li>
                                                            <li> <a href="left_bar.html"> Contemporary </a> </li>
                                                            <li> <a href="left_bar.html"> Eclectic </a> </li>
                                                            <li> <a href="left_bar.html"> Modern </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Dinning Chairs </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:block">
                                                            <li> <a href="left_bar.html"> Colonial </a> </li>
                                                            <li> <a href="left_bar.html"> Contemporary </a> </li>
                                                            <li> <a href="left_bar.html"> Eclectic </a> </li>
                                                            <li> <a href="left_bar.html"> Modern </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Sideboards </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:block">
                                                            <li> <a href="left_bar.html"> Cabinets </a> </li>
                                                            <li> <a href="left_bar.html"> Drawers </a> </li>
                                                            <li> <a href="left_bar.html"> Glass </a> </li>
                                                            <li> <a href="left_bar.html"> Modern </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Bar Stools </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:block">
                                                            <li> <a href="left_bar.html"> Adjustable </a> </li>
                                                            <li> <a href="left_bar.html"> Bar Height </a> </li>
                                                            <li> <a href="left_bar.html"> Counter Height </a> </li>
                                                            <li> <a href="left_bar.html"> Swivel </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Serving Carts </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:block">
                                                            <li> <a href="left_bar.html"> Glass </a> </li>
                                                            <li> <a href="left_bar.html"> Steel </a> </li>
                                                            <li> <a href="left_bar.html"> Traditional </a> </li>
                                                            <li> <a href="left_bar.html"> Modern </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                </ul>
                                                <!--level0-->
                                            </li>
                                            <!--level 0-->
                                            <li>
                                                <a href="left_bar.html">BedRoom</a> <span class="subDropdown plus"></span>
                                                <ul class="level0_482" style="display:none">
                                                    <li> <a href="left_bar.html"> Beds </a> <span class="subDropdown minus"></span> </li>
                                                    <!--level1-->
                                                    <li> <a href="left_bar.html"> Dressing Tables </a> <span class="subDropdown minus"></span> </li>
                                                    <!--level1-->
                                                    <li> <a href="left_bar.html"> Wardrobes </a> <span class="subDropdown minus"></span> </li>
                                                    <!--level1-->
                                                    <li> <a href="left_bar.html"> Mattresses </a> <span class="subDropdown minus"></span> </li>
                                                    <!--level1-->
                                                    <li> <a href="left_bar.html"> Bedside Tables </a> <span class="subDropdown minus"></span> </li>
                                                    <!--level1-->
                                                    <li> <a href="left_bar.html"> NightStands </a> <span class="subDropdown minus"></span> </li>
                                                    <!--level1-->
                                                </ul>
                                                <!--level0-->
                                            </li>
                                            <!--level 0-->
                                            <li> <a href="left_bar.html">Kitchen</a> </li>
                                            <!--level 0-->
                                            <li class="last"> <a href="blog.html">Blog</a> </li>
                                            <!--level 0-->
                                        </ul>
                                    </div>
                                    <!--box-content box-category-->
                                </div>
                                <div class="side-banner">
                                    <img src="images/sidebanner.jpg">
                                </div>
                                <div class="block block-layered-nav">
                                    <div class="block-title"> Filter By</div>
                                    <div class="block-content">
                                        <p class="btn-tertiary"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Clear all</p>
                                        <dl id="narrow-by-list">
                                            <dt class="odd">Categories</dt>
                                            <dd class="odd">
                                                <ol>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#">Sofas</a> (6)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#"> Chairs</a> (5)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#"> Tables</a> (7)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#">Racks</a> (5)
                                                    </li>
                                                </ol>
                                            </dd>
                                            <dt class="odd">Price</dt>
                                            <dd class="odd">
                                                <ol>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span> <a href="#"><span class="price">$4.00</span> - <span class="price">$5.00</span></a> (1)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span><a href="#"><span class="price">$16.00</span> - <span class="price">$20.00</span></a> (2)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span> <a href="#"><span class="price">$25.00</span> - <span class="price">$37.00</span></a> (4)
                                                    </li>
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input data-search-url="#" type="checkbox">
                                                        </span> <a href="#"><span class="price">$33.00</span> - <span class="price">$125.00</span></a> (9)
                                                    </li>
                                                </ol>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Container End -->
    </div>
</div>