@using Vanp.DAL.Entites
@{
    ViewBag.Title = "Sản phẩm đấu giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Container -->
<div class="main-container col2-left-layout bounceInUp animated">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <!-- Breadcrumbs -->
                <div class="breadcrumbs">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li class="home"> <a href="assets/index.html" title="Go to Home Page">Home</a> <span>/</span> </li>
                                    <li class="category1599"> <a href="left_bar.html" title="">Living Room</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumbs End -->
                <div class="">
                    <div class="row">
                        <div class="col-sm-9 col-lg-9 col-sm-push-3">
                            <div class="category-description std">
                                <div class="slider-items-products">
                                    <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                                        <div class="slider-items slider-width-col1 owl-carousel owl-theme">

                                            <!-- Item -->
                                            <div class="item"> <a href="#"><img alt="" src="~/images/cat-banner-1.jpg"></a> </div>
                                            <!-- End Item -->
                                            <!-- Item -->
                                            <div class="item">
                                                <a href="#"><img alt="" src="~/images/cat-banner-2.jpg"></a>

                                                <!-- End Item -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <article class="col-main">
                                <div class="page-title">
                                    <h2>Living Room</h2>
                                </div>
                                <div class="toolbar">
                                    <div class="sorter">
                                        <div class="view-mode"> <span title="Grid" class="button button-active button-grid">&nbsp;</span><a href="assets/list.html" title="List" class="button-list">&nbsp;</a> </div>
                                    </div>
                                    <div id="sort-by">
                                        <label class="left">Sort By: </label>
                                        <ul>
                                            <li>
                                                <a href="#">Position<span class="right-arrow"></span></a>
                                                <ul>
                                                    <li><a href="#">Name</a></li>
                                                    <li><a href="#">Price</a></li>
                                                    <li><a href="#">Position</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                                    </div>
                                    <div class="pager">
                                        <div id="limiter">
                                            <label>View: </label>
                                            <ul>
                                                <li>
                                                    <a href="#">15<span class="right-arrow"></span></a>
                                                    <ul>
                                                        <li><a href="#">20</a></li>
                                                        <li><a href="#">30</a></li>
                                                        <li><a href="#">35</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pages">
                                            <label>Page:</label>
                                            <ul class="pagination">
                                                <li><a href="#">«</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">»</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="category-products">
                                    <ul class="products-grid">
                                        @foreach (var item in Model)
                                        {
                                            <li class="item col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div class="item-inner">
                                                    <div class="productborder">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a class="product_image image-wrapper" href="assets/product_detail.html"> <img class="front_image" alt="Pro Image" src="~/images/products/product1.jpg"> </a>
                                                                <div class="quickview top-right"> <a class="link-quickview" href="assets/quick_view.html"> <i class="fa fa-search" aria-hidden="true"></i></a> </div>
                                                                <div class="box-hover">
                                                                    <ul class="add-to-links">
                                                                        <!-- <li><a class="link-quickview" href="quick_view.html"></a> </li>-->
                                                                        <li><a class="link-wishlist" href="assets/wishlist.html"></a> </li>
                                                                        <li><a class="link-compare" href="assets/compare.html"></a> </li>
                                                                        <li><a class="add-to-cart" href="assets/shopping_cart.html"></a> </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="right-block">
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a title="Bluetooth Smart Watch" href="assets/product_detail.html">Wing Chair</a> </div>
                                                                    <div class="item-content">
                                                                        <p class="product-manufacturer">Hugo</p>
                                                                    </div>
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </article>
                            <!--	///*///======    End article  ========= //*/// -->
                        </div>
                        <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                            <aside class="col-left sidebar">
                                <div class="side-nav-categories">
                                    <div class="block-title">Categories</div>
                                    <!--block-title-->
                                    <!-- BEGIN BOX-CATEGORY -->
                                    <div class="box-content box-category">
                                        <ul>
                                            <li>
                                                <a class="active" href="left_bar.html">Living Room</a> <span class="subDropdown minus"></span>
                                                <ul class="level0_415" style="display:block">
                                                    <li>
                                                        <a href="left_bar.html"> Racks </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Display Units </a> </li>
                                                            <li> <a href="left_bar.html"> Shoe Racks </a> </li>
                                                            <li> <a href="left_bar.html"> Magazine Racks </a> </li>
                                                            <li> <a href="left_bar.html"> Trunk & Boxes </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                    <li>
                                                        <a href="left_bar.html"> Sofas </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:none">
                                                            <li> <a href="left_bar.html"> Sofa Beds </a> </li>
                                                            <li> <a href="left_bar.html"> Sofa Suites </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                </ul>
                                                <!--level0-->
                                            </li>

                                            <!--level 0-->
                                            <li>
                                                <a href="left_bar.html">Dinning Room</a> <span class="subDropdown plus"></span>
                                                <ul class="level0_455" style="display:none">
                                                    <li>
                                                        <a href="left_bar.html"> Dinning Sets </a> <span class="subDropdown plus"></span>
                                                        <ul class="level1" style="display:block">
                                                            <li> <a href="left_bar.html"> Eight Seater </a> </li>
                                                            <li> <a href="left_bar.html"> Four Seater </a> </li>
                                                            <!--end for-each -->
                                                        </ul>
                                                        <!--level1-->
                                                    </li>
                                                    <!--level1-->
                                                </ul>
                                                <!--level0-->
                                            </li>
                                            <!--level 0-->
                                            <li>
                                                <a href="left_bar.html">BedRoom</a> <span class="subDropdown plus"></span>
                                                <ul class="level0_482" style="display:none">
                                                    <li> <a href="left_bar.html"> Beds </a> <span class="subDropdown minus"></span> </li>
                                                    <!--level1-->
                                                    <li> <a href="left_bar.html"> Dressing Tables </a> <span class="subDropdown minus"></span> </li>
                                                </ul>
                                                <!--level0-->
                                            </li>
                                            <!--level 0-->
                                            <li> <a href="left_bar.html">Kitchen</a> </li>
                                            <!--level 0-->
                                            <li class="last"> <a href="assets/blog.html">Blog</a> </li>
                                            <!--level 0-->
                                        </ul>
                                    </div>
                                    <!--box-content box-category-->
                                </div>
                                <div class="side-banner">
                                    <img alt="sidebanner" src="~/images/sidebanner.jpg">
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Container End -->
    </div>
</div>