
@{
    ViewBag.Title = "Duyệt yêu cầu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="page-title">
    Yêu Cầu Đăng Bán
    <small>Duyệt yêu cầu đăng bán</small>
</h1>
<table class="table table-striped table-bordered table-hover table-checkable order-column" id="table-main">
    <thead>
        <tr>
            <th>
            </th>
            <th> Tài Khoản </th>
            <th> Ngày Tạo </th>
            <th> Nội Dung </th>
            <th> Từ Ngày </th>
            <th> Đến Ngày </th>
        </tr>
    </thead>
</table>


@section Scripts {
    <script src="~/Scripts/apps/admin/request.js"></script>
}
