
@{
    ViewBag.Title = "Quên mật khẩu?";
}
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-md-offset-3 col-md-6 wow bounceInUp animated">
                <div class="col-main">
                    <div class="page-title">
                        <h2>Quên mật khẩu</h2>
                    </div>
                    <div class="static-contain">
                        <form class="comment-form register-form" action="@Url.Action("ForgotPassword", "Account")" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Nhập địa chỉ email và chúng tôi sẽ gửi mật khẩu mới vào email của bạn</p>
                                    <p class="comment-form-email"><input id="email" name="email" placeholder="vanp@gmail.com" value="" size="30" type="text"></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="form-submit text-center">
                                    <input name="btnSubmit" class="btn btn-secondary mt-ladda-btn" value="Gửi Mật Khẩu Mới Vào Mail" type="submit">
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>