
@{
    ViewBag.Title = "Quên mật khẩu?";
}
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-md-offset-3 col-md-6 wow bounceInUp animated">
                <div class="col-main">
                    <div class="page-title">
                        <h2>Quên mật khẩu</h2>
                    </div>
                    <div class="static-contain">
                        <form class="comment-form register-form" action="@Url.Action("ResetPassword", "Account")" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Mật khẩu <span>*</span></p>
                                    <p class="comment-form-email"><input id="password" name="password" value="" size="50" type="password"></p>
                                </div>
                                <div class="col-md-6">
                                    <p>Xác nhận mật khẩu <span>*</span></p>
                                    <p class="comment-form-email"><input id="repassword" name="repassword" value="" size="50" type="password"></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="form-submit text-center">
                                    <input name="btnSubmit" class="btn btn-secondary mt-ladda-btn" value="Thay Đổi Mật Khẩu" type="submit">
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>