
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
@section style{
    <style type="text/css">
        th, td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
}
<div class="table-responsive">
    <table class="table product-table">
        <thead>
            <tr>
                <th>Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Giá bán ngay</th>
                <th>Ngày đăng</th>
                <th>Ngày hết hạn</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <img src="~/images/products/1/img1.jpg" width="200" height="200">
                </th>
                <td>
                    <h5><strong>Sportswear</strong></h5>
                    <p class="text-muted">by FifeSteps</p>
                </td>
                <td>100000000</td>
                <td>100000000</td>
                <td>200 $</td>
                <td>200 $</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Remove item">
                        X
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

