@{
    ViewBag.Title = "Điểm đánh giá";
}
<div class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <span class="caption-subject text-uppercase ">Điểm đánh giá</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="vote-box">

            <div class="vote-wrapper">
                <div class="vote-up"><i class="icon-like"></i> @CurrentUser.VoteUp</div>
                <div class="vote-percent"> @(CurrentUser.VotePercent)%</div>
                <div class="vote-down"><i class="icon-dislike"></i> @CurrentUser.VoteDown</div>
            </div>
        </div>
        <div class="comment-template" style="display:none">
            <div class="clearfix comment">
                <div class="comment-wrapper" id="post-29">
                    <div class="comment-author vcard">
                        <p class="gravatar">
                            <a href="#"><img width="60" height="60" alt="avatar" src="/images/users/admin.jpg"></a>
                            <span class="vote">-1</span>
                        </p>

                        <span class="author">John Doe</span>
                    </div>
                    <!--comment-author vcard-->
                    <div class="comment-meta">
                        <div class="entry-date"></div>
                    </div>
                    <!--comment-meta-->
                    <div class="comment-body"> Curabitur at vestibulum sem. Aliquam vehicula neque ac nibh suscipit ultrices. Morbi interdum accumsan arcu nec scelerisque ellentesque id erat sem, ut commodo nulla. Sed a nulla et eros fringilla. Phasellus eget purus nulla. </div>
                </div>

            </div>
        </div>
        <div class="products">
            @Html.Partial("~/Views/Shared/_ProductsPartial.cshtml")
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/apps/obj/product.js"></script>
    <script src="~/Scripts/apps/obj/vote.js"></script>
    <script src="~/Scripts/apps/productcomments.js"></script>

    <script>
        jQuery(document).ready(function () {
            $(".product-template .button-wishlist").remove();
            Products.setDataFilter({
                pageSize: 10,
                pageNo: 1,
                orderBy: "dateto",
                asc: false
            });
            Products.setUrlAction("/Customer/Product/GetProductsUserVoted");
            Products.init();
        });
    </script>
}
