@{
    ViewBag.Title = "Danh sách đang được đấu giá ";
}
<div class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <span class="caption-subject text-uppercase ">Danh sách đang được đấu giá</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="products">
            @Html.Partial("~/Views/Shared/_ProductsPartial.cshtml")
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/apps/obj/product.js"></script>
    <script src="~/Scripts/apps/products.js"></script>
    <script>
        jQuery(document).ready(function () {
            //Xóa button wishlist trong product-template
            $(".product-template .button-wishlist").remove();
            Products.setDataFilter({
                pageSize: 10,
                pageNo: 1,
                orderBy: "dateto",
                asc: false
            });
            Products.setUrlAction("/Customer/Product/GetProductsBidding");
            Products.init();
        });
    </script>
}
